.filtro{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.filtro_pet{
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    background-color: #ffffff;
    padding: 15px 60px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    
}

.active{
    color: #005EB8;
    font-weight: 600;
}
