.navbar{
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 65px;
    width: 100vw;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    align-items: center;
    z-index: 1;
}
.usuario {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.navbar .logo{
    margin-left: 100px;

}

.itens .active{
    font-weight: 500;
    border-bottom: 2px solid #005EB8;
}
.navbar .logo .logo1{
    margin-top: 7px;
    width: 140px;
}
 
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.navbar .pesquisar{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 0.5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    background: #F7F7F7;
    border-radius: 5px;
    font-size: 19px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.45);
    width: 30%;
  
}
.navbar .pesquisar input{
    padding-left: 10px;
    font-size: 17px;
    width: 500px;
    border-radius: 10px;
    background: #F7F7F7;
    height: 41px;
    border: none;
}
.itens{
    margin-left: 9%;
    display: flex;
    width: 34%;
    justify-content: space-evenly;
    height: 100%;
    
    
}
.item_2{
    padding-left: 5px;
}
.itens .item_2{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
.item_1{
    text-decoration: none;
    
}

.item_1 .home{
    color: rgba(0, 0, 0, 0.70);
    font-size: 17px;
    padding: 0px 5px;
    font-style: normal;
    letter-spacing: 0.02em; 
}
.itens .item_1{
    display: flex;
    align-items: center;
    padding-right: 3px;
}
.minha_lista{
    text-decoration: none;
    padding-left: 8px;
    background-color: white;
    color: rgba(0, 0, 0, 0.70);
    font-family: Poppins;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em; 
}

.itens .usuario{
    color: rgba(0, 0, 0, 0.70);
    background-color:rgba(0, 0, 0, 0.70);
    padding-left: 10000px;
    padding-right: 5px;
    text-decoration: none;
    padding-left: 10px;
    border:none;
    background-color: white;
    font-family: Poppins;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    
}

svg.Fi{
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
}

.itens .item_1:hover, .minha_lista:hover, .usuario:hover , .item_2:hover{
    color: hsla(209, 100%, 36%);
}
.navbar .sair{
    margin-left: auto;
    margin-right: 100px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.45);
    letter-spacing: 0.05em;
    text-decoration: none;
}

