.card2{
    cursor: pointer;
    padding: 25px 33px 20px 33px;
    width:  575px;
    height: 246px;
    background-color: #F5F5F5;
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
}
.card2:hover{
    background-color: white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08);

}
.conteudo_texto{
    width: 100%;
}

.add_lista2{
    font-size: 28px;
    cursor: pointer;
    opacity: 0.45;
}
.add_lista2:hover{
    color: #005EB8;
    opacity: 1;
    transition: 0.5s;

}

.ofertante2{
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.60);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;

}

.nome2{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}

.avaliacao2{
    margin-bottom: 30px;
}
.preco2{
    display: flex;
    margin-top: 5px;

}


.preco2 .cifrao2{
    font-size: 18px;
    font-weight: 400;
    color: hsla(0, 0%, 0%, 0,8);
    margin-right: 5px;
    line-height: 1px;
}

.preco2 .preco_numero2{
    font-size: 54px;
    font-weight: 700;
    color: hsla(0, 0%, 0%, 0,8);
    line-height: 28px;
}
.area_produto2{
    display: flex;
}
.img_produto_2{
    width: 255px;
    margin-right: 5px;
}
